.fade-in {
    animation: fadeIn .8s;
    -webkit-animation: fadeIn .8s;
    -moz-animation: fadeIn .8s;
    -o-animation: fadeIn .8s;
    -ms-animation: fadeIn .8s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.fade-out {
    animation: fadeOut .8s;
    -webkit-animation: fadeOut .8s;
    -moz-animation: fadeOut .8s;
    -o-animation: fadeOut .8s;
    -ms-animation: fadeOut .8s;
}
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

/* .ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #c2c4c5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
    background-color: #6eb111;
    background-size: 100%;
    transition: background 0s;
  } */
