.draggable-list {
    background-color: rgba(0,0,0,0);
    /* resize: both; */
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-color:rgb(212, 67, 67);
    height: 8rem;
    min-width: 8rem; */
}


.draggable-items-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow-y:scroll;
    overflow-x:hidden;
    /* resize: both;
    overflow: scroll; */
}

.resize-button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: gray;
    margin-right:2px;
    margin-bottom:2px;
}